<?php
$this->layout = 'notLogged';
?>

<script>
    document.getElementById("contato").className = "ativado";
</script>

<style>
    body {
        background-color: #28b463;
    }
</style>

<div class="jumbotron">
    <div class="container">
        <i class="fa fa-users fa-6" style="font-size: 50px"></i>
        <h1 cover-heading>Membros</h1>
        <span style="">
            <p>Bruno Antonelly</p>
            <p>Felipe Moura</p>
            <p>Leonardo Luiz</p>
            <p>Lucas Gabriel</p>
         </span>
    </div>
</div>

