<div class="container" ng-app="myApp">
    <div  ng-controller="customersCtrl">
        <h1>Ajx</h1>
        <input type="text" ng-model="texto">
        <h1>{{texto}}</h1>
        <ul>
            {{names}}
            <li ng-repeat="x in results">
                <h2>{{ x.title }}</h2>
            </li>
        </ul>
    </div>


    <script>
        var app = angular.module('myApp', []);
        app.controller('customersCtrl', function($scope, $http) {
            $http.get("/cake/users/dashboard2.json")
                .success(function(response) {$scope.results = response.projects;});
        });
    </script>
</div>
