
h1, h2, h3, em {
	font-family: 'Roboto Condensed', sans-serif;
}
.paginator, .nav-pills, .breadcrumb {
	font-family: 'Roboto Condensed', sans-serif;
}
body {
	background-color: #F5F5F5;
}

blockquote {
	border-color: #28b463;
}

a:hover {
	color:#209652;
	-webkit-transition: all .3s;
	  -moz-transition: all .3s;
	  transition: all .3s;
} 

.btn-success {
	background-color: #28b463;
	background-image:none;	
	border-color: #28b463;
}

#confirm{
	font-size: 20px;
}

#confirm:hover{
	background-color: rgb(31, 136, 75);
}


.breadcrumb {
	background-color: none;
}

.col-sm-4 {
	text-align:left;
	padding: 0px;
}

.col-sm-9 {
	padding: 0px;
	float:none;
}

.label-warning {
  background-color: #F0C12D;
}

@media (min-width: 992px) .col-md-9 {
  float: none;
}

@media (max-width: 768px) {
    .list-group {
    	margin-right:5px;
    	margin-left:5px;
    }
}

select {
	border:none;
	font-size: 24px;
	text-decoration: none;
	width: 100%;
}

/*#search.input-group  {
	margin:auto;
	width:720px;
}*/

#search.input-group  {
	margin:auto;
	width:720px;
}

@media (max-width: 768px) {
    #search.input-group {
    	width:100%;
    	padding-right: 5px;
    	padding-left: 5px;
    }
}

input:focus, textarea:focus {
    outline: none;
}

select:focus {
	outline: none;
}

#tab {
	margin:auto;
	width:220px;
	text-align:center;
}

textarea.form-add .title{
	font-size: 24px;
}


ul.rounded-buttons>li {
	display: inline-block;
	text-align: -webkit-match-parent;
}

ul.rounded-buttons>li a{
	  display: block;
	  width: 40px;
	  height: 40px;
	  border-radius: 100%;
	  font-size: 20px;
	  line-height: 40px;
	  outline: 0;
	  color: white;
	  background-color: #E54E4E;
	  -webkit-transition: all .3s;
	  -moz-transition: all .3s;
	  transition: all .3s;
	  text-align: center;
	  text-decoration: none;

}

ul.rounded-buttons>li a:hover{	 
	background-color: #BA4141;
	box-shadow: 0 1.5px 4px rgba(0, 0, 0, 0.24), 0 1.5px 6px rgba(0, 0, 0, 0.12);
}

ul.rounded-buttons-title {
	text-align: center;
}

ul.rounded-buttons-title>li {
	display: inline-block;
	text-align: -webkit-match-parent;
}

ul.rounded-buttons-title>li a{
	  display: block;
	  width: 60px;
	  height: 60px;
	  border-radius: 100%;
	  font-size: 30px;
	  line-height: 60px;
	  outline: 0;
	  color: white;
	  background-color: #28b463;
	  -webkit-transition: all .3s;
	  -moz-transition: all .3s;
	  transition: all .3s;
	  text-align: center;
	  text-decoration: none;
}

ul.rounded-buttons-index>li {
	display: inline-block;
	text-align: -webkit-match-parent;
}

ul.rounded-buttons-index>li a{
	  display: block;
	  width: 40px;
	  height: 40px;
	  border-radius: 100%;
	  font-size: 20px;
	  line-height: 40px;
	  outline: 0;
	  color: white;
	  background-color: #555A5F;
	  -webkit-transition: all .3s;
	  -moz-transition: all .3s;
	  transition: all .3s;
	  text-align: center;
	  text-decoration: none;

}

ul.rounded-buttons-index>li a:hover{	 
	background-color: #BA4141;
	box-shadow: 0 1.5px 4px rgba(0, 0, 0, 0.24), 0 1.5px 6px rgba(0, 0, 0, 0.12);
}

.paginator {
	text-align: center;
}

.navbar-inverse {
	box-shadow: 0 1.5px 4px rgba(0, 0, 0, 0.24), 0 1.5px 6px rgba(0, 0, 0, 0.12);
	font-family: 'Roboto Condensed', sans-serif;
}

.navbar-inverse .navbar-right > li > a {
	color:rgb(31, 136, 75);
}

.navbar-inverse .navbar-right > li.ativado > a {
	//font-weight: bold;
	color:white;
}

#logo > li > a{
	//font-weight: bold;
	font-size: 20px;
	font-family: 'Roboto Condensed', sans-serif;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
	color:rgb(31, 137, 76);
}

.nav-pills > li > a {
	color: #7E7E7E;
}

.nav-pills > li > a:hover {
	color: #28B463;
}
.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
	background-color: #F5F5F5;
	border-bottom:2px solid #28B463;
	border-radius:0px;
	color: #28B463;
}

.list-group {
  box-shadow: 0 1.5px 4px rgba(0, 0, 0, 0.24), 0 1.5px 6px rgba(0, 0, 0, 0.12);
}

@media (min-width: 768px) {
	.navbar-right > li > a:hover {
		padding-top: 13px;
		border-top:0px solid white;					
		//font-weight: bold;
	}
}

@media (max-width: 768px) {
  .navbar-nav > li > a {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}
