
<script src="http://localhost:4555/socket.io/socket.io.js"></script>
<script>
    var socket = io('http://localhost:4555', {transports: ['websocket', 'polling', 'flashsocket']});
    socket.on('notificacao', function (data) {
        document.getElementById('messagebox').innerHTML = data;
    });
</script>
<div class="container">
    <div id="messagebox">
</div>
</div>
